<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/scalper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/scalper.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss}||%thread||%level||%logger:%line||%msg %ex|| %n
            </pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>